body{
    /* background-color: rgb(31, 29, 29); */
    color: black;
}

table{
    width: 60%;
    background-color: rgba(255, 255, 255);
    margin: auto;
    /* color: white; */
    border-collapse: collapse;
}

form{
    background: #ddd;
    border: black;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;   
    /* margin-bottom: 150px; */

}

input[type=text], select{
    width: 200px;
    display: inline-block;
    height: 7px;
    padding: 9px;
    margin: 2px;
    border: none;

}

#idAlta{
    background: rgba(8, 155, 165, 0.678);
    color: white;
    width: 60px;
    height: 30px;
    border:none;
    /* font-size: 25px; */
    position: fixed;
    right: 10px;
    top: 10px;
}

label{
    display: inline-block;
    width: 100px;
}

#Guardar{
    /* margin-top: 10px; */
    margin: 5px 0;
    /* font-size: 12px; */
    width: 160px;
    height: 30px;
    /* border: none; */
}

select{
    /* color: black; */
    width: 150px;
    height: 7px;
    padding: 9px;
    border: none;
}

#selectFiltro{
    background: rgba(8, 155, 165, 0.678);
    width: 150px;
    height: 7px;
    padding: 9px;
}

tr{
    font-size: 16px;
    margin: 15%;
}

th{
    font-size: 19px;
    background-color: rgba(8, 155, 165, 0.678);
    color: white;
}

#Botones button{
    background-color: rgba(8, 155, 165, 0.678);
    width: 109px;
    height: 30px;
    border: none;
    color: white;
    margin-top: 20px;
}

#idTipo{
    width: 217px;
    height: 35px;
}

.division{
    width: 100%;
    background-color: #ddd;
    height: 2px;
}

#texto1, #texto2{
    width: 100%; 
}

.visible{
    display: block;
}

.invisible{
    display: none;
}
